body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey background */
    color: #333333; /* Dark grey text */
}

header {
    background: #0056b3; /* Blue background for the header */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

h1, p, a {
    margin: 0;
    padding-bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.collapsible h2 {
    cursor: pointer;
    background-color: #009688; /* Teal background for section headers */
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    animation: float 2s ease-in-out infinite;
}

.python {
    background-image: url('python-icon.png');
}

.docker {
    background-image: url('docker-icon.png');
}

.kubernetes {
    background-image: url('kubernetes-icon.png');
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}